:root {
  --primary-text-color: #333333;
  --secondary-text-color: #BDBDBD;
  --third-text-color: #F2F2F2;
  --accent-color: #E0E0E0;
  --hover-color: hsl(71, 89%, 51%);
  --accent-secondary-color: #FBFBFB;
  --primary-bgc-color: #ffffff;
  --secondary-bgc-color: #2C2C2C;
  --accent-bgc-color: #F3F3F3;
}

.site-nav, .container-nav, .container-header {
  display: flex;
  align-items: center;
}

body {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.logo-header {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 16px;
}

.icon-header {
  width: 70px;
  height: 44px;
  fill: #fff;
}

.button {
  background-color: transparent;
  border: none;
  width: 222px;
  height: 71px;
  padding: 24px 65px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero {
  width: 53px;
  height: 53px;
  margin-right: 20px;
  border: 1px solid #F2F2F2;
  background-color: transparent;
  cursor: pointer;
}
.button-hero:hover, .button-hero:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-image .button-hero-image {
  position: absolute;
  top: 92%;
  left: 0;
  background-color: var(--primary-bgc-color);
}

.section-title {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 64px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
}

.header-nav {
  width: 100%;
  height: 102px;
}

.container-header {
  display: flex;
  width: 1440px;
}

.container-nav {
  display: flex;
  margin: 0 auto;
}

.site-nav {
  margin-left: 350px;
}

.site-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--hover-color);
}

.header-item {
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  padding: 32px 0;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.current {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
    display: block;
    bottom: -1px;
  }
}

.section-hero {
  height: 830px;
  width: 1440px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.container-hero {
  display: flex;
}

.hero-title {
  margin-top: 150px;
  margin-right: 100px;
}

.title-home {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero-image {
  position: relative;
}

.image {
  width: 770px;
  height: 830px;
}/*# sourceMappingURL=main.css.map */