.section-about {
    height: 435px;
}

.container-about {
    display: flex;
    background-color: var(--accent-bgc-color);
    padding-top: 20px;
    padding-left: 40px;
}

.box-images-about {
    position: relative;
    margin-left: 40px;
    margin-right: 25px;
}

.box-images-about .image2-about {
    position: absolute;
    left: 0;
    top: 70%;
}

.image-about, .image2-about,
.image3-about {
    width: 270px;
}

.image-about {
    height: 265px;
}

.image2-about {
    height: 140px;
    margin-top: 20px;
}

.image3-about {
    height: 345px;
    margin-top: 35px;
    margin-right: 20px;
}

.box-about {
    display: flex;
}

.box-text-about {
    padding-right: 50px;
}

.text-about {
    @include font(300, 16px, 1.6, 0.03em);
}