.footer {
    height: 417px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bgc-color);
}

.footer-nav {
    display: flex;
}

.container-nav-footer {
    margin-right: 100px;
    margin-left: 100px;
    width: 200px;
    height: 229px;
}

.title-footer {
    margin-bottom: 20px;
    @include font(700, 16px, 1.25);
    color: var(--primary-bgc-color);
}

.site-nav-footer .link,
.list-footer .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}

.nav-item-footer {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.footer-link {
    @include font(500, 14px, 0.12);
    color: var(--primary-bgc-color);
    font-family: inherit;
}

.address-footer {
    width: 325px;
    height: 229px;
    margin-right: 60px;
}

.item-footer {
    &:not(:last-child) {
        margin-bottom: 45px;
    }
}

.map-icon, .tel-icon, 
.mail-icon {
    fill: var(--primary-bgc-color);
    margin-right: 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        fill: var(--hover-color);
    }
}

.map-icon {
    width: 16px;
    height: 21px;
}

.tel-icon {
    width: 16px;
    height: 16px;
}

.mail-icon {
    width: 16px;
    height: 11px;
}

.copyright {
    width: 100%;
    height: 70px;
    border-top: 1px solid var(--secondary-text-color);
}

.text-copyright {
    margin-top: 44px;
    @include font(400, 12px, 1.83);
    color: var(--accent-color);
    opacity: 50%;
    text-align: center;
}