.footer {
    height: 417px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bgc-color);
}

.container-footer {
    //display: flex;
}

.footer-nav {
    display: flex;
}

.container-nav-footer {

}

.title-footer {

}

.site-nav-footer {

}

.nav-item-footer {

}

.footer-link {

}

.list-footer {

}

.item-footer {

}

.footer-address {

}

.map-icon, .tel-icon, 
.mail-icon {

}

.footer-contacts {

}

.footer-social-icon {

}

.footer-list-icon {

}

.social-list-item {

}

.social-list-link {

}

.social-list-icon {

}