.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    //margin-left: 0;
    padding: 0;
    margin: 0;
}

.logo-icon {
    margin-right: 500px;
}

.icon-footer,
.logo-icon {
    width: 145px;
    height: 94px;
}

.icon-footer {
    fill: #ffffff;
}