.footer-social-icon {
    width: 193px;
    height: 64px;
}

.footer-list-icon {
    @extend %justify-content;
}

.social-list-item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 35px;
    }
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-bgc-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list-link:hover &,
    .social-list-link:focus & {
        fill: var(--hover-color);
    }
}